ul li {
  display:block;
  left:100px;
  top:100px;
  position:absolute;
  margin:2px;
  border:2px solid black;
  padding:4px;
  width:200px;
  height:100px;
  text-align:center;
  background-color:green;
  color:white;
}
